body {
    background-color: white;
    margin: 0px;
    padding: 0 auto;
}

.main1 {
    width: 100%;
    min-height: 700px;
    float: left;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}

.glav {
    width: 700px;
    height: 350px;
    float: left;
    background-color: #EF5250;
    display: flex;
    justify-content: flex-end;
    opacity: 0; 
    transition: opacity 1s ease-in-out;
}

.green {
    width: 50px;
    height: 35px;
    float: left;
    background-color: #EF5250;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green a img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.glav img {
    width: 650px;
    height: 350px;
    float: left;
    object-fit: cover;
}

.hidden {
    display: none; 
}

.countdown {
    font-size: 24px;
    color: white;
}

.image-link.hidden {
    display: none;
}

.disappear {
    animation: fadeOut 1s forwards;
}

.Appear {
    display: block; 
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.hg {
    height: 75px;
}

.dsFlx {
    display: flex;
    justify-content: center;
    align-items: center;
}
